h1 {
    margin: auto;
    color: red;
    text-align: center;
}

th, td {
    text-align: left;
    padding: 10px;
    border-left: 1px solid #0b0504;
    border-right: 1px solid #0b0504;
}

th {
    background-color: #0f5132;
    color: white;
}

.myTable {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    align-items: center;
}